# EXERCÍCIO 1

## Problema

Seu líder te apresentou a seguinte estrutura de dados:

```python
[
    {'id': 1,  'name': 'Chase Mclean',  'gender': 'F',  'height': 0.0178, 'married': True},
    {'id': 2,  'name': 'Lu Fernandez',  'gender': 'F',  'height': 0.0153, 'married': False},
    {'id': 3,  'name': 'Skyler Levy',   'gender': 'M',  'height': 0.0194, 'married': False},
    {'id': 4,  'name': 'Patrick Kemp',  'gender': 'M',  'height': 0.0186, 'married': False},
    {'id': 5,  'name': 'Erasmus Fuller','gender': 'M',  'height': 0.0196, 'married': True},
    {'id': 6,  'name': 'Lamar Mccall',  'gender': 'M',  'height': 0.0172, 'married': False},
    {'id': 7,  'name': 'Nayda Aguilar', 'gender': 'M',  'height': 0.0163, 'married': False},
    {'id': 8,  'name': 'Lucy Heath',    'gender': 'F',  'height': 0.0169, 'married': True},
    {'id': 9,  'name': 'Devin Patrick', 'gender': 'F',  'height': 0.0176, 'married': True},
    {'id': 10, 'name': 'Kaseem Valen',  'gender': 'F',  'height': 0.0197, 'married': True},
    {'id': 11, 'name': 'Jen Jennings',  'gender': 'M',  'height': 0.0188, 'married': False},
    {'id': 12, 'name': 'Vincent Hahn',  'gender': 'F',  'height': 0.015,  'married': True},
    {'id': 13, 'name': 'Harriet Lee',   'gender': 'F',  'height': 0.0164, 'married': False},
    {'id': 14, 'name': 'Mikayla Dodson','gender': 'F',  'height': 0.0156, 'married': True},
    {'id': 15, 'name': 'Solomon Welch', 'gender': 'M',  'height': 0.0162, 'married': True},
    {'id': 16, 'name': 'Randall Juarez','gender': 'F',  'height': 0.0196, 'married': False},
    {'id': 17, 'name': 'Camilla Harvey','gender': 'M',  'height': 0.0159, 'married': False},
    {'id': 18, 'name': 'Hardy Cameron', 'gender': 'F',  'height': 0.0196, 'married': False},
    {'id': 19, 'name': 'Cullen Mejia',  'gender': 'F',  'height': 0.0188, 'married': True},
    {'id': 20, 'name': 'Isaiah Black',  'gender': 'M',  'height': 0.015,  'married': True},
]
```

E pediu para que você executasse os seguintes ajustes:
1. As alturas estão com unidade de medida em cm (centímetro). É necessário que seja ajustado para a unidade de medida em metro (m). Crie uma função para ajustar a altura e utilize a função ***map()*** para executá-la.
2. As informações do campo gender estão com as letras 'F' ou 'M' para identificar Feminino e Masculino, respectivamente. É necessário trocar a identificação para 0 e 1, sendo 0 Feminino e 1 Masculino. Crie uma função para realizar esse ajuste e utilize a função ***map()*** para executá-la.
3. Selecione e crie uma lista com somente os usuários que não sejam casados. Utilize a função ***filter()*** e ***lambda***.
4. Selecione e cria uma lista com somente os usuários que sejam homens e casados. Utilize a função ***filter()*** e ***lambda***.
5. Selecione e crie uma nova lista com os usuários que possuem o ID par e que não estejam dentro do intervalo de 8 a 14. Crie uma função que fará a seleção. Essa função deverá ser utilizada em conjunto com a função ***filter()***
6. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os IDs que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.
7. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os limites inferior e superior de altura dos usuários que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.

Utilize a lista que foi ajustada nas tarefas 1 e 2 para executar as tarefas 3 a 7.

## Resposta

In [50]:
users = [
    {'id': 1,  'name': 'Chase Mclean',  'gender': 'F',  'height': 0.0178, 'married': True},
    {'id': 2,  'name': 'Lu Fernandez',  'gender': 'F',  'height': 0.0153, 'married': True},
    {'id': 3,  'name': 'Skyler Levy',   'gender': 'M',  'height': 0.0194, 'married': False},
    {'id': 4,  'name': 'Patrick Kemp',  'gender': 'M',  'height': 0.0186, 'married': True},
    {'id': 5,  'name': 'Erasmus Fuller','gender': 'M',  'height': 0.0196, 'married': True},
    {'id': 6,  'name': 'Lamar Mccall',  'gender': 'M',  'height': 0.0172, 'married': False},
    {'id': 7,  'name': 'Nayda Aguilar', 'gender': 'M',  'height': 0.0163, 'married': False},
    {'id': 8,  'name': 'Lucy Heath',    'gender': 'F',  'height': 0.0169, 'married': True},
    {'id': 9,  'name': 'Devin Patrick', 'gender': 'F',  'height': 0.0176, 'married': True},
    {'id': 10, 'name': 'Kaseem Valen',  'gender': 'F',  'height': 0.0197, 'married': True},
    {'id': 11, 'name': 'Jen Jennings',  'gender': 'M',  'height': 0.0188, 'married': False},
    {'id': 12, 'name': 'Vincent Hahn',  'gender': 'F',  'height': 0.015,  'married': True},
    {'id': 13, 'name': 'Harriet Lee',   'gender': 'F',  'height': 0.0164, 'married': False},
    {'id': 14, 'name': 'Mikayla Dodson','gender': 'F',  'height': 0.0156, 'married': True},
    {'id': 15, 'name': 'Solomon Welch', 'gender': 'M',  'height': 0.0162, 'married': True},
    {'id': 16, 'name': 'Randall Juarez','gender': 'F',  'height': 0.0196, 'married': False},
    {'id': 17, 'name': 'Camilla Harvey','gender': 'M',  'height': 0.0159, 'married': False},
    {'id': 18, 'name': 'Hardy Cameron', 'gender': 'F',  'height': 0.0196, 'married': False},
    {'id': 19, 'name': 'Cullen Mejia',  'gender': 'F',  'height': 0.0188, 'married': True},
    {'id': 20, 'name': 'Isaiah Black',  'gender': 'M',  'height': 0.015,  'married': True},
]

In [51]:
# Tarefa 1 - Alterar a unidade de medida da altura

# Função que irá criar um novo elemento com a altura ajustada
def adjust_heigths(user):
    return {
        'id': user['id'],
        'name': user['name'],
        'gender': user['gender'],
        'heigth': round(user['height'] * 100, 2), 
        'married': user['married']
    }


users = list(map(adjust_heigths, users))

users[0]

{'id': 1,
 'name': 'Chase Mclean',
 'gender': 'F',
 'heigth': 1.78,
 'married': True}

In [52]:
# Tarefa 2 - Justar campo Gender -> F = 0 e M = 1

# Função que irá trocar o caractere F por 0 e M por 1
def adjust_gender(user):
    return {
        'id': user['id'],
        'name': user['name'],
        'gender': 0 if user['gender'] == 'F' else 1,
        'heigth': user['height'], 
        'married': user['married']
    }


users = list(map(adjust_gender, users))

users[0]

KeyError: 'height'

In [53]:
# Tarefa 3 - Selecione e crie uma lista com somente os usuários que não sejam casados. 
# Utilize a função filter() e lambda

not_married = list(filter(lambda user: user if not(user['married']) else None, users))
not_married

[{'id': 3,
  'name': 'Skyler Levy',
  'gender': 'M',
  'heigth': 1.94,
  'married': False},
 {'id': 6,
  'name': 'Lamar Mccall',
  'gender': 'M',
  'heigth': 1.72,
  'married': False},
 {'id': 7,
  'name': 'Nayda Aguilar',
  'gender': 'M',
  'heigth': 1.63,
  'married': False},
 {'id': 11,
  'name': 'Jen Jennings',
  'gender': 'M',
  'heigth': 1.88,
  'married': False},
 {'id': 13,
  'name': 'Harriet Lee',
  'gender': 'F',
  'heigth': 1.64,
  'married': False},
 {'id': 16,
  'name': 'Randall Juarez',
  'gender': 'F',
  'heigth': 1.96,
  'married': False},
 {'id': 17,
  'name': 'Camilla Harvey',
  'gender': 'M',
  'heigth': 1.59,
  'married': False},
 {'id': 18,
  'name': 'Hardy Cameron',
  'gender': 'F',
  'heigth': 1.96,
  'married': False}]

In [54]:
# Tarefa 4 - Selecione e cria uma lista com somente os usuários que sejam homens e casados. 
# Utilize a função filter() e lambda.

married_men = list(filter(lambda user: user if (user['married'] and user['gender']) else None, users))
married_men

[{'id': 1,
  'name': 'Chase Mclean',
  'gender': 'F',
  'heigth': 1.78,
  'married': True},
 {'id': 2,
  'name': 'Lu Fernandez',
  'gender': 'F',
  'heigth': 1.53,
  'married': True},
 {'id': 4,
  'name': 'Patrick Kemp',
  'gender': 'M',
  'heigth': 1.86,
  'married': True},
 {'id': 5,
  'name': 'Erasmus Fuller',
  'gender': 'M',
  'heigth': 1.96,
  'married': True},
 {'id': 8,
  'name': 'Lucy Heath',
  'gender': 'F',
  'heigth': 1.69,
  'married': True},
 {'id': 9,
  'name': 'Devin Patrick',
  'gender': 'F',
  'heigth': 1.76,
  'married': True},
 {'id': 10,
  'name': 'Kaseem Valen',
  'gender': 'F',
  'heigth': 1.97,
  'married': True},
 {'id': 12,
  'name': 'Vincent Hahn',
  'gender': 'F',
  'heigth': 1.5,
  'married': True},
 {'id': 14,
  'name': 'Mikayla Dodson',
  'gender': 'F',
  'heigth': 1.56,
  'married': True},
 {'id': 15,
  'name': 'Solomon Welch',
  'gender': 'M',
  'heigth': 1.62,
  'married': True},
 {'id': 19,
  'name': 'Cullen Mejia',
  'gender': 'F',
  'heigth': 1.88,
  'married': True},
 {'id': 20,
  'name': 'Isaiah Black',
  'gender': 'M',
  'heigth': 1.5,
  'married': True}]

In [55]:
# Tarefa 5 - Selecione e crie uma nova lista com os usuários que possuem o ID par 
# e que não estejam dentro do intervalo de 8 a 14. Crie uma função que fará a seleção. 
# Essa função deverá ser utilizada em conjunto com a função filter().

# Função que fará a separação
def user_selection_tsk5(user):
    return user if((user['id'] % 2 == 0) and not(8 < user['id'] < 14)) else None

selected_ids_tsk5 = list(filter(user_selection_tsk5, users))
selected_ids_tsk5

[{'id': 2,
  'name': 'Lu Fernandez',
  'gender': 'F',
  'heigth': 1.53,
  'married': True},
 {'id': 4,
  'name': 'Patrick Kemp',
  'gender': 'M',
  'heigth': 1.86,
  'married': True},
 {'id': 6,
  'name': 'Lamar Mccall',
  'gender': 'M',
  'heigth': 1.72,
  'married': False},
 {'id': 8,
  'name': 'Lucy Heath',
  'gender': 'F',
  'heigth': 1.69,
  'married': True},
 {'id': 14,
  'name': 'Mikayla Dodson',
  'gender': 'F',
  'heigth': 1.56,
  'married': True},
 {'id': 16,
  'name': 'Randall Juarez',
  'gender': 'F',
  'heigth': 1.96,
  'married': False},
 {'id': 18,
  'name': 'Hardy Cameron',
  'gender': 'F',
  'heigth': 1.96,
  'married': False},
 {'id': 20,
  'name': 'Isaiah Black',
  'gender': 'M',
  'heigth': 1.5,
  'married': True}]

In [56]:
# Tarefa 6 - Crie uma função aninhada para que seja possível passarmos uma 
# lista contendo os IDs que desejamos selecionar da nossa base de dados. 
# Essa função deverá ser utilizada em conjunto com a função filter(). 
# Os dados selecionados devem estar dentro de uma lista.

# Função que receberá os ids para filtragem
def filter_by_id(ids_filter):
    
    # Função que receberá o usuário
    def filter_ids(user):
        return user if user['id'] in ids_filter else None
        
    return filter_ids


# Cria a lista com os ids selecionados
ids = [8, 10, 12, 14]

# Cria o filtro dos IDs
_filter = filter_by_id(ids)

# Cria a lista utilizando o filtro criado
users_by_id = list(filter(_filter, users))
users_by_id

[{'id': 8,
  'name': 'Lucy Heath',
  'gender': 'F',
  'heigth': 1.69,
  'married': True},
 {'id': 10,
  'name': 'Kaseem Valen',
  'gender': 'F',
  'heigth': 1.97,
  'married': True},
 {'id': 12,
  'name': 'Vincent Hahn',
  'gender': 'F',
  'heigth': 1.5,
  'married': True},
 {'id': 14,
  'name': 'Mikayla Dodson',
  'gender': 'F',
  'heigth': 1.56,
  'married': True}]

In [57]:
# Crie uma função aninhada para que seja possível passarmos uma lista 
# contendo os limites inferior e superior de altura dos usuários que 
# desejamos selecionar da nossa base de dados. Essa função deverá ser 
# utilizada em conjunto com a função filter(). 
# Os dados selecionados devem estar dentro de uma lista.

def filter_by_height(heights):
    
    def filter_heights(user):
        return user if heights[0] <= user['heigth'] <= heights[1] else None

    return filter_heights


heights = [1.69, 1.80]

_filter = filter_by_height(heights)

users_by_height = list(filter(_filter, users))
users_by_height

[{'id': 1,
  'name': 'Chase Mclean',
  'gender': 'F',
  'heigth': 1.78,
  'married': True},
 {'id': 6,
  'name': 'Lamar Mccall',
  'gender': 'M',
  'heigth': 1.72,
  'married': False},
 {'id': 8,
  'name': 'Lucy Heath',
  'gender': 'F',
  'heigth': 1.69,
  'married': True},
 {'id': 9,
  'name': 'Devin Patrick',
  'gender': 'F',
  'heigth': 1.76,
  'married': True}]