# EXERCÍCIO 1

## Problema

Seu líder te apresentou a seguinte estrutura de dados:

```python
[
    {'id': 1,  'name': 'Chase Mclean',  'gender': 'F',  'height': 178, 'married': True},
    {'id': 2,  'name': 'Lu Fernandez',  'gender': 'F',  'height': 153, 'married': False},
    {'id': 3,  'name': 'Skyler Levy',   'gender': 'M',  'height': 194, 'married': False},
    {'id': 4,  'name': 'Patrick Kemp',  'gender': 'M',  'height': 186, 'married': False},
    {'id': 5,  'name': 'Erasmus Fuller','gender': 'M',  'height': 196, 'married': True},
    {'id': 6,  'name': 'Lamar Mccall',  'gender': 'M',  'height': 172, 'married': False},
    {'id': 7,  'name': 'Nayda Aguilar', 'gender': 'M',  'height': 163, 'married': False},
    {'id': 8,  'name': 'Lucy Heath',    'gender': 'F',  'height': 169, 'married': True},
    {'id': 9,  'name': 'Devin Patrick', 'gender': 'F',  'height': 176, 'married': True},
    {'id': 10, 'name': 'Kaseem Valen',  'gender': 'F',  'height': 197, 'married': True},
    {'id': 11, 'name': 'Jen Jennings',  'gender': 'M',  'height': 188, 'married': False},
    {'id': 12, 'name': 'Vincent Hahn',  'gender': 'F',  'height': 150,  'married': True},
    {'id': 13, 'name': 'Harriet Lee',   'gender': 'F',  'height': 164, 'married': False},
    {'id': 14, 'name': 'Mikayla Dodson','gender': 'F',  'height': 156, 'married': True},
    {'id': 15, 'name': 'Solomon Welch', 'gender': 'M',  'height': 162, 'married': True},
    {'id': 16, 'name': 'Randall Juarez','gender': 'F',  'height': 196, 'married': False},
    {'id': 17, 'name': 'Camilla Harvey','gender': 'M',  'height': 159, 'married': False},
    {'id': 18, 'name': 'Hardy Cameron', 'gender': 'F',  'height': 196, 'married': False},
    {'id': 19, 'name': 'Cullen Mejia',  'gender': 'F',  'height': 188, 'married': True},
    {'id': 20, 'name': 'Isaiah Black',  'gender': 'M',  'height': 150,  'married': True},
]
```

E pediu para que você executasse os seguintes ajustes:
1. As alturas estão com unidade de medida em cm (centímetro). É necessário que seja ajustado para a unidade de medida em metro (m). Utilize as funções ***map()*** e ***lambda*** para realizar esse ajuste.
2. As informações do campo `gender` estão com as letras 'F' ou 'M' para identificar Feminino e Masculino, respectivamente. É necessário trocar a identificação para 0 e 1, sendo 0 Feminino e 1 Masculino. Utilize as funções ***map()*** e ***lambda*** para realizar esse ajuste.
3. Selecione e crie uma lista com somente os usuários que não sejam casados. Utilize a função ***filter()*** e ***lambda***.
4. Selecione e cria uma lista com somente os usuários que sejam homens e casados. Utilize a função ***filter()*** e ***lambda***.
5. Selecione e crie uma nova lista com os usuários que possuem o ID par e que não estejam dentro do intervalo de 8 a 14. Crie uma função que fará a seleção. Essa função deverá ser utilizada em conjunto com a função ***filter()***
6. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os IDs que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.
7. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os limites inferior e superior de altura dos usuários que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.

## Resposta

In [4]:
users_in = [
    {'id': 1,  'name': 'Chase Mclean',  'gender': 'F',  'height': 0.0178, 'married': True},
    {'id': 2,  'name': 'Lu Fernandez',  'gender': 'F',  'height': 0.0153, 'married': False},
    {'id': 3,  'name': 'Skyler Levy',   'gender': 'M',  'height': 0.0194, 'married': False},
    {'id': 4,  'name': 'Patrick Kemp',  'gender': 'M',  'height': 0.0186, 'married': False},
    {'id': 5,  'name': 'Erasmus Fuller','gender': 'M',  'height': 0.0196, 'married': True},
    {'id': 6,  'name': 'Lamar Mccall',  'gender': 'M',  'height': 0.0172, 'married': False},
    {'id': 7,  'name': 'Nayda Aguilar', 'gender': 'M',  'height': 0.0163, 'married': False},
    {'id': 8,  'name': 'Lucy Heath',    'gender': 'F',  'height': 0.0169, 'married': True},
    {'id': 9,  'name': 'Devin Patrick', 'gender': 'F',  'height': 0.0176, 'married': True},
    {'id': 10, 'name': 'Kaseem Valen',  'gender': 'F',  'height': 0.0197, 'married': True},
    {'id': 11, 'name': 'Jen Jennings',  'gender': 'M',  'height': 0.0188, 'married': False},
    {'id': 12, 'name': 'Vincent Hahn',  'gender': 'F',  'height': 0.015,  'married': True},
    {'id': 13, 'name': 'Harriet Lee',   'gender': 'F',  'height': 0.0164, 'married': False},
    {'id': 14, 'name': 'Mikayla Dodson','gender': 'F',  'height': 0.0156, 'married': True},
    {'id': 15, 'name': 'Solomon Welch', 'gender': 'M',  'height': 0.0162, 'married': True},
    {'id': 16, 'name': 'Randall Juarez','gender': 'F',  'height': 0.0196, 'married': False},
    {'id': 17, 'name': 'Camilla Harvey','gender': 'M',  'height': 0.0159, 'married': False},
    {'id': 18, 'name': 'Hardy Cameron', 'gender': 'F',  'height': 0.0196, 'married': False},
    {'id': 19, 'name': 'Cullen Mejia',  'gender': 'F',  'height': 0.0188, 'married': True},
    {'id': 20, 'name': 'Isaiah Black',  'gender': 'M',  'height': 0.015,  'married': True},
]

In [5]:
# 1. As alturas estão com unidade de medida em cm (centímetro). É necessário que seja ajustado para a unidade #de medida em metro (m). Utilize as funções ***map()*** e ***lambda*** para realizar esse ajuste.

# Cria uma nova lista chamada "user", onde os dados que vão preencher já são os corrigidos em termo de altura,
# o resto dos dados somente copia.

def adjust_heights(user):
    
    return {
        'id': user['id'],
        'name': user['name'],
        'gender': user['gender'],
        'height': round(user['height'] * 100, 2),
        'married': user['married']
    }

users = list(map(adjust_heights, users_in))

In [6]:
# 2. As informações do campo `gender` estão com as letras 'F' ou 'M' para identificar Feminino e Masculino, respectivamente. É necessário trocar a identificação para 0 e 1, sendo 0 Feminino e 1 Masculino. Utilize as funções ***map()*** e ***lambda*** para realizar esse ajuste.

def adjust_gender(user):
    
    return {
        'id': user['id'],
        'name': user['name'],
        'gender': 1 if user['gender'] == 'M' else 0,
        'height': user['height'],
        'married': user['married']
    }

users = list(map(adjust_gender, users ))

In [7]:
# 3. Selecione e crie uma lista com somente os usuários que não sejam casados. Utilize a função ***filter()*** e ***lambda***.

def not_married_list(user):
    
    users_notm = list(filter(lambda user: True if user['married'] == False else False, users)) 
    
    return users_notm

In [8]:
# 4. Selecione e cria uma lista com somente os usuários que sejam homens e casados. Utilize a função ***filter()*** e ***lambda***.

def married_man_list(user):
    
    users_man_m = list(
                    filter( lambda user: True if user['married'] and user['gender'] == 1 else False,
                           users )
    )
    
    return users_man_m

In [9]:
# 5. Selecione e crie uma nova lista com os usuários que possuem o ID par e que não estejam dentro do intervalo de 8 a 14. Crie uma função que fará a seleção. Essa função deverá ser utilizada em conjunto com a função ***filter()***

def users_par(user):
    
    users_par = list( filter( lambda user: True if user['id'] % 2 == 0 and not (8 <= user['id'] <= 14) else False, users ))
    return users_par

# def user_selection_tsk5(user):
#    return user if((user['id'] % 2 == 0) and not(8 < user['id'] < 14)) else None

#selected_ids_tsk5 = list(filter(user_selection_tsk5, users))

In [10]:
# 6. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os IDs que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.


def users_select(selected_users):

    i_user = int(input())
    f_user = int(input())

    selected_users = list(filter( lambda user: True if (i_user < user['id'] < f_user) else False, users )) 

    return selected_users

In [25]:
# 7. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os limites inferior e superior de altura dos usuários que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.

def filter_by_height(heights):
    
    def filter_heights(user):
        return user if heights[0] <= user['height'] <= heights[1] else None

    return filter_heights


heights = [1.69, 1.80]

_filter = filter_by_height(heights)

users_by_height = list(filter(_filter, users))
#users_by_height

In [ ]:
lista_resposta = list(
    map(
        lambda num: math.sqrt(num), 
        filter(
            lambda value: True if value % 2 == 0 else False, 
            lista
        )
    )
)


# Filtro que irá selecionar somente o usuários do sexo feminino
        list(filter(lambda user: True if user['gender'] == 'F' else False, data))
    )