# EXERCÍCIO 1

## Problema

Seu líder te apresentou a seguinte estrutura de dados:

```python
[
    {'id': 1,  'name': 'Chase Mclean',  'gender': 'F',  'height': 178, 'married': True},
    {'id': 2,  'name': 'Lu Fernandez',  'gender': 'F',  'height': 153, 'married': False},
    {'id': 3,  'name': 'Skyler Levy',   'gender': 'M',  'height': 194, 'married': False},
    {'id': 4,  'name': 'Patrick Kemp',  'gender': 'M',  'height': 186, 'married': False},
    {'id': 5,  'name': 'Erasmus Fuller','gender': 'M',  'height': 196, 'married': True},
    {'id': 6,  'name': 'Lamar Mccall',  'gender': 'M',  'height': 172, 'married': False},
    {'id': 7,  'name': 'Nayda Aguilar', 'gender': 'M',  'height': 163, 'married': False},
    {'id': 8,  'name': 'Lucy Heath',    'gender': 'F',  'height': 169, 'married': True},
    {'id': 9,  'name': 'Devin Patrick', 'gender': 'F',  'height': 176, 'married': True},
    {'id': 10, 'name': 'Kaseem Valen',  'gender': 'F',  'height': 197, 'married': True},
    {'id': 11, 'name': 'Jen Jennings',  'gender': 'M',  'height': 188, 'married': False},
    {'id': 12, 'name': 'Vincent Hahn',  'gender': 'F',  'height': 150,  'married': True},
    {'id': 13, 'name': 'Harriet Lee',   'gender': 'F',  'height': 164, 'married': False},
    {'id': 14, 'name': 'Mikayla Dodson','gender': 'F',  'height': 156, 'married': True},
    {'id': 15, 'name': 'Solomon Welch', 'gender': 'M',  'height': 162, 'married': True},
    {'id': 16, 'name': 'Randall Juarez','gender': 'F',  'height': 196, 'married': False},
    {'id': 17, 'name': 'Camilla Harvey','gender': 'M',  'height': 159, 'married': False},
    {'id': 18, 'name': 'Hardy Cameron', 'gender': 'F',  'height': 196, 'married': False},
    {'id': 19, 'name': 'Cullen Mejia',  'gender': 'F',  'height': 188, 'married': True},
    {'id': 20, 'name': 'Isaiah Black',  'gender': 'M',  'height': 150,  'married': True},
]
```

E pediu para que você executasse os seguintes ajustes:
1. As alturas estão com unidade de medida em cm (centímetro). É necessário que seja ajustado para a unidade de medida em metro (m). Utilize as funções ***map()***  para realizar esse ajuste.
2. As informações do campo `gender` estão com as letras 'F' ou 'M' para identificar Feminino e Masculino, respectivamente. É necessário trocar a identificação para 0 e 1, sendo 0 Feminino e 1 Masculino. Utilize as funções ***map()*** para realizar esse ajuste.
3. Selecione e crie uma lista com somente os usuários que não sejam casados. Utilize a função ***filter()*** e ***lambda***.
4. Selecione e cria uma lista com somente os usuários que sejam homens e casados. Utilize a função ***filter()*** e ***lambda***.
5. Selecione e crie uma nova lista com os usuários que possuem o ID par e que não estejam dentro do intervalo de 8 a 14. Crie uma função que fará a seleção. Essa função deverá ser utilizada em conjunto com a função ***filter()***
6. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os IDs que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.
7. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os limites inferior e superior de altura dos usuários que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.

## Resposta

In [73]:
users = [
    {'id': 1,  'name': 'Chase Mclean',  'gender': 'F',  'height': 178, 'married': True},
    {'id': 2,  'name': 'Lu Fernandez',  'gender': 'F',  'height': 153, 'married': False},
    {'id': 3,  'name': 'Skyler Levy',   'gender': 'M',  'height': 194, 'married': False},
    {'id': 4,  'name': 'Patrick Kemp',  'gender': 'M',  'height': 186, 'married': False},
    {'id': 5,  'name': 'Erasmus Fuller','gender': 'M',  'height': 196, 'married': True},
    {'id': 6,  'name': 'Lamar Mccall',  'gender': 'M',  'height': 172, 'married': False},
    {'id': 7,  'name': 'Nayda Aguilar', 'gender': 'M',  'height': 163, 'married': False},
    {'id': 8,  'name': 'Lucy Heath',    'gender': 'F',  'height': 169, 'married': True},
    {'id': 9,  'name': 'Devin Patrick', 'gender': 'F',  'height': 176, 'married': True},
    {'id': 10, 'name': 'Kaseem Valen',  'gender': 'F',  'height': 197, 'married': True},
    {'id': 11, 'name': 'Jen Jennings',  'gender': 'M',  'height': 188, 'married': False},
    {'id': 12, 'name': 'Vincent Hahn',  'gender': 'F',  'height': 150,  'married': True},
    {'id': 13, 'name': 'Harriet Lee',   'gender': 'F',  'height': 164, 'married': False},
    {'id': 14, 'name': 'Mikayla Dodson','gender': 'F',  'height': 156, 'married': True},
    {'id': 15, 'name': 'Solomon Welch', 'gender': 'M',  'height': 162, 'married': True},
    {'id': 16, 'name': 'Randall Juarez','gender': 'F',  'height': 196, 'married': False},
    {'id': 17, 'name': 'Camilla Harvey','gender': 'M',  'height': 159, 'married': False},
    {'id': 18, 'name': 'Hardy Cameron', 'gender': 'F',  'height': 196, 'married': False},
    {'id': 19, 'name': 'Cullen Mejia',  'gender': 'F',  'height': 188, 'married': True},
    {'id': 20, 'name': 'Isaiah Black',  'gender': 'M',  'height': 150,  'married': True},
]

In [74]:
# 1. Ajustar alturas. Converter de cm para m. ***map()*** e ***lambda*** 

users = list(
    map( 
        lambda usuario: {'id': usuario['id'],  'name': usuario['name'], \
                         'gender': usuario['gender'],  'height': usuario['height'] / 100, \
                         'married': usuario['married'] 
                        }, 
        users 
       )
)

users[:2]

[{'id': 1,
  'name': 'Chase Mclean',
  'gender': 'F',
  'height': 1.78,
  'married': True},
 {'id': 2,
  'name': 'Lu Fernandez',
  'gender': 'F',
  'height': 1.53,
  'married': False}]

In [75]:
# 2. Encoding do campo gender. F -> 0, M -> 1. ***map()*** e ***lambda*** 

users = list( map( lambda usuario: {'id': usuario['id'],  'name': usuario['name'], \
                         'gender': 0,  'height': usuario['height'], \
                         'married': usuario['married'] } if usuario['gender'] == 'F' else \
                         {'id': usuario['id'],  'name': usuario['name'], \
                         'gender': 1,  'height': usuario['height'], \
                         'married': usuario['married']}
                  , 
                  users ) )

users[:2]

[{'id': 1,
  'name': 'Chase Mclean',
  'gender': 0,
  'height': 1.78,
  'married': True},
 {'id': 2,
  'name': 'Lu Fernandez',
  'gender': 0,
  'height': 1.53,
  'married': False}]

In [76]:
# def adjust_gender(user):
#     return {
#         'id': user['id'],
#         'name': user['name'],
#         'gender': 0 if user['gender'] == 'F' else 1,
#         'height': user['height'], 
#         'married': user['married']
#     }


# users = list(map(adjust_gender, users))

# users[0]

In [79]:
# 3. Selecione e crie uma lista com somente os usuários que não sejam casados. Utilize a função ***filter()*** e ***lambda***.

nao_casados = list( filter( lambda usuario: True if usuario['married'] == False else False, users ) )
nao_casados[1]

{'id': 3, 'name': 'Skyler Levy', 'gender': 1, 'height': 1.94, 'married': False}

In [82]:
# 4. Selecione e cria uma lista com somente os usuários que sejam homens e casados. Utilize a função ***filter()*** e ***lambda***.
homens_casados = list( filter( lambda usuario: True if usuario['married'] == True and usuario['gender'] == 1 else False, users ) )

homens_casados[0]

{'id': 5,
 'name': 'Erasmus Fuller',
 'gender': 1,
 'height': 1.96,
 'married': True}

In [85]:
# 5. Selecione e crie uma nova lista com os usuários que possuem o ID par e que não estejam dentro do intervalo de 8 a 14. Crie uma função que fará a seleção. Essa função deverá ser utilizada em conjunto com a função ***filter()***
intervalo = list(range(8, 15))

users_int = list(filter( lambda usuario: True if usuario['id'] not in intervalo and usuario['id'] % 2 == 0 else False , users))

users_int

[{'id': 2,
  'name': 'Lu Fernandez',
  'gender': 0,
  'height': 1.53,
  'married': False},
 {'id': 4,
  'name': 'Patrick Kemp',
  'gender': 1,
  'height': 1.86,
  'married': False},
 {'id': 6,
  'name': 'Lamar Mccall',
  'gender': 1,
  'height': 1.72,
  'married': False},
 {'id': 16,
  'name': 'Randall Juarez',
  'gender': 0,
  'height': 1.96,
  'married': False},
 {'id': 18,
  'name': 'Hardy Cameron',
  'gender': 0,
  'height': 1.96,
  'married': False},
 {'id': 20,
  'name': 'Isaiah Black',
  'gender': 1,
  'height': 1.5,
  'married': True}]

In [100]:
# 6. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os IDs que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.

ids = [1, 4, 5]


def externa_6(ids_desejados):
    
    def interna_6(usuario):
        # calculos
        return True if usuario['id'] in ids_desejados else False
        
    return interna_6


filtro = externa_6(ids)
# filtro

filtrados = list(filter( filtro, users ))
filtrados

[{'id': 1,
  'name': 'Chase Mclean',
  'gender': 0,
  'height': 1.78,
  'married': True},
 {'id': 4,
  'name': 'Patrick Kemp',
  'gender': 1,
  'height': 1.86,
  'married': False},
 {'id': 5,
  'name': 'Erasmus Fuller',
  'gender': 1,
  'height': 1.96,
  'married': True}]

In [103]:
# 7. Crie uma **função aninhada** para que seja possível passarmos uma lista contendo os limites inferior e superior de altura dos usuários que desejamos selecionar da nossa base de dados. Essa função deverá ser utilizada em conjunto com a função ***filter()***. Os dados selecionados devem estar dentro de uma lista.


lim_inf = 1.65
lim_sup = 1.70

def externa_7(limites_inferior, limite_superior):
    
    def interna_7(usuario):
        # calculos
        return True if limites_inferior <= usuario['height'] <= limite_superior else False
        
    return interna_7


filtro_7 = externa_7(lim_inf, lim_sup)

filtrados = list(filter(filtro_7, users))
filtrados

[{'id': 8, 'name': 'Lucy Heath', 'gender': 0, 'height': 1.69, 'married': True}]

In [104]:
pedro = {'nome': 'Pedro Ferraresi', 'conta': 123456, 'saldo': 100}
pedro

{'nome': 'Pedro Ferraresi', 'conta': 123456, 'saldo': 100}

In [110]:
def externa_exp():
    
    def interna_exp(user):
        user['saldo'] += 100
        print(user['saldo'])
        print(f'O nome do usuario é {user["nome"]} e sua conta é {user["conta"]}')
    
    return interna_exp

In [111]:
func = externa_exp()
func

In [112]:
func(pedro)

300
O nome do usuario é Pedro Ferraresi e sua conta é 123456